{% load unfold %}

{% with tabs=adminform|tabs %}
    {% if tabs %}
        <div class="admin-lang-tabs" x-data="{openTab: null}" x-show="activeTab == 'general'">
            <ul class="admin-lang-tabs__list bg-base-100 flex flex-wrap mb-6 rounded-default text-font-default-light @min-[1570px]:-mx-4 dark:bg-white/[.02] dark:text-font-default-dark">
                {% for fieldset in tabs %}
                    <li>
                        <a class="admin-lang-tabs__tab"
                           x-on:click="openTab = '{{ forloop.counter0 }}-{{ fieldset.name|slugify }}'"
                           x-bind:class="openTab == '{{ forloop.counter0 }}-{{ fieldset.name|slugify }}'{% if forloop.first %} || openTab == null{% endif %} ? 'admin-lang-tabs__tab--active' : ''">
                            {{ fieldset.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% for fieldset in tabs %}
                <div class="tab-wrapper{% if fieldset.name %} fieldset-{{ fieldset.name|slugify }} fieldset-{{ forloop.counter0 }}-{{ fieldset.name|slugify }}{% endif %}"
                     x-show="openTab == '{{ forloop.counter0 }}-{{ fieldset.name|slugify }}'{% if forloop.first %} || openTab == null{% endif %}">
                    {% include 'admin/includes/fieldset.html' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
